body{
    background-image: url("https://t3.ftcdn.net/jpg/03/16/86/98/360_F_316869849_oHD2qOXRJlZE2Md6SNv0MtvDcgZyHkfv.jpg");
    color:white;
    background-repeat: no-repeat;
    background-size:cover
}