body{
    background-image: url("https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg");
    color:white;
    background-repeat: no-repeat;
    background-size:cover
}
a{
    color:white;
}